<!DOCTYPE html>
<html ng-app="fileUpload">
  <head>
    <script src="angular/lib/angular.js"></script>
    <script src="angular/lib/angular-route.js"></script>
    <script src="angular/lib/ng-file-upload-shim.js"></script>
    <script src="angular/lib/ng-file-upload.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
    <body >
        <div ng-view>

        </div>
        <script src="angular/src/app.js"></script>
        <script src="angular/src/vista1Controller.js"></script>
        <script src="angular/src/controller2.js"></script>
    </body>
</html>
